@charset "utf-8";

*	{margin: 0; padding: 0; box-sizing: border-box; outline: none;}
a	{color: inherit; text-decoration: none;}
img	{vertical-align: middle;}
ul, ol	{list-style-type: none;}
.blind	{position: absolute; left: -9999px; width: 0; height: 0; overflow: hidden;}
table	{border-collapse:collapse; table-layout:fixed; width:100%;}
body, html	{background: #f2f2f4;} 